<!--
  Generated template for the ClubOwnerPitchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Add Pitch</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="GetPitchNo()" color="dark">Pitch numbers</button>
  <ion-list>

    <form novalidate (ngSubmit)="save()" [formGroup]="clubownerpitchform">


      <ion-item>
        <ion-label floating>Pitch number</ion-label>
        <ion-input type="text" [(ngModel)]="data_pitch_no" formControlName="pitchno" [class.error1]="!clubownerpitchform.controls.pitchno.valid && clubownerpitchform.controls.pitchno.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="clubownerpitchform.get('pitchno').hasError('pattern') && clubownerpitchform.get('pitchno').touched">
        <div class="error" *ngIf="clubownerpitchform.get('pitchno').hasError('required') &&  clubownerpitchform.get('pitchno').touched">
          Please enter pitch price
        </div>
        <div class="error" *ngIf="clubownerpitchform.get('pitchno').hasError('pattern') &&  clubownerpitchform.get('pitchno').touched">
          Only numbers
        </div>
      </ion-item>


      <ion-item>
        <!-- -->
        <ion-label floating>Creation date</ion-label>
        <ion-datetime displayFormat="MMM/DD/YYYY" pickerFormat="MMM/DD/YYYY" min="2010" max="{{currentDate}}" [(ngModel)]="data_creation_date" formControlName="creation_date" [class.error1]="!clubownerpitchform.controls.creation_date.valid && clubownerpitchform.controls.creation_date.dirty"> </ion-datetime>
      </ion-item>
      <ion-item no-lines *ngIf="clubownerpitchform.get('creation_date').hasError('required')  && clubownerpitchform.get('creation_date').touched">
        <div class="error" *ngIf="clubownerpitchform.get('creation_date').hasError('required') && clubownerpitchform.get('creation_date').touched">
          please enter pitch creation date
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>Price</ion-label>
        <ion-input type="text" [(ngModel)]="data_price" formControlName="price" [class.error1]="!clubownerpitchform.controls.price.valid && clubownerpitchform.controls.price.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="clubownerpitchform.get('price').hasError('pattern') && clubownerpitchform.get('price').touched">
        <div class="error" *ngIf="clubownerpitchform.get('price').hasError('required') &&  clubownerpitchform.get('price').touched">
          Please enter pitch price
        </div>
        <div class="error" *ngIf="clubownerpitchform.get('price').hasError('pattern') &&  clubownerpitchform.get('price').touched">
          Only numbers
        </div>
      </ion-item>


      <ion-item>
        <ion-label>Pitch capacity</ion-label>
        <ion-select [(ngModel)]="data_capacity" [ngModelOptions]="{standalone: true}">
          <ion-option *ngFor=" let c of capacities" (ionSelect)="selcapacity(c.no)" value="{{c.no}}">{{c.capacity}}</ion-option>

        </ion-select>
      </ion-item>




      <ion-item>
        <ion-label>Pitch type</ion-label>
        <ion-select [(ngModel)]="data_type" [ngModelOptions]="{standalone: true}">
          <ion-option *ngFor=" let t of types" (ionSelect)="seltype(t.no)" value="{{t.no}}">{{t.type}}</ion-option>

        </ion-select>
      </ion-item>



      <button ion-button type="submit" ion-button block color="primary" [disabled]="clubownerpitchform.invalid || !data_type || !data_capacity">Submit</button>


    </form>
  </ion-list>


</ion-content>
