page-player-profile {
    background-image: url("../../www/assets/imgs/background1.jpg");
   
    .d{
        margin-top: 70%;
        margin-left: 57%;
    }
    .c{
        margin-top: 70%;
        margin-left: 10%;
    }
    .a{
        margin-top: 20%;
        margin-left: 10%;
    }
    .b{
        margin-top: 20%;
        margin-left: 51%;
    }
    .e{
        margin-left: 8%;
    }
    .f{
        margin-left: 2%;
    }



}
