<!--
  Generated template for the ClubOwnerAcademyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>club-owner-academy</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="AcademyName()" color="dark">Academy name</button>

  <button ion-button (click)="AcademyNoOfPlayers()" color="dark">Number of players in academy</button>




  <form novalidate (ngSubmit)="UpdateMonthlySubscription()" [formGroup]="clubowneracademy">

    <ion-item>
      <ion-label floating>Monthly subscription</ion-label>
      <ion-input type="text" [(ngModel)]="data_subscription" formControlName="subscription" [class.error1]="!clubowneracademy.controls.subscription.valid && clubowneracademy.controls.subscription.dirty"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="(clubowneracademy.get('subscription').hasError('required') || clubowneracademy.get('subscription').hasError('pattern')) && clubowneracademy.get('subscription').touched">
      <div class="error" *ngIf="clubowneracademy.get('subscription').hasError('pattern') &&  clubowneracademy.get('subscription').touched">
        Only numbers
      </div>
      <div class="error" *ngIf="clubowneracademy.get('subscription').hasError('required') && clubowneracademy.get('subscription').touched">
        please enter subscription for your academy
      </div>
    </ion-item>



    <button ion-button type="submit" ion-button block color="primary" [disabled]="clubowneracademy.invalid">UPDATE</button>
  </form>


</ion-content>
