page-sign-in {
    button{
        float: right;
        border-radius:10px!important;
    }
    #register_link{
        float: right;
        margin-top: 50px;
        margin-right: -90px;
    }
    }
    