page-sign-in {
    #signin{
        float: right;
        border-radius:10px!important;
    }

    #signup{
        float: right;
        border-radius:10px!important;
      //  margin-top: 50px;
    //    margin-right: -85px;
    }
    #register_link{
        float: right;
        margin-top: 50px;
        margin-right: -90px;
    }
    }
    