<!--
  Generated template for the ClubownerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Home<br /><span style="font-size: 1.5rem; padding:0px">
        Club Name : {{clubName}}   ,  Rating : {{clubRating}}
      </span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <!--  <div class = "bar bar-subheader bar-energized">
        <h1 class = "title"> Club Name : {{clubName}}     Rating : {{clubRating}}</h1>
     </div>
    -->

  <ion-item>
    <ion-label floating>View On date</ion-label>
    <ion-datetime displayFormat="MMM/DD/YYYY " pickerFormat="MMMM/DD/YYYY " min="2017" [(ngModel)]="date" (ionChange)="dateChanged()">
    </ion-datetime>
  </ion-item>

  <div *ngIf="date">
    <ion-list>
      <ion-list-header>
        Events
      </ion-list-header>
      <button ion-item *ngFor="let item of events_items" (click)="view(item,'Event')">
        <ion-icon [name]="'arrow-forward'" item-end></ion-icon>
        {{item.name}}
          </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Reservations
      </ion-list-header>
      <button ion-item *ngFor="let item of reservations_items" (click)="view(item,'Reservation')">
        <ion-icon [name]="'arrow-forward'" item-end></ion-icon>
             Pitch Number:{{item.pitch_number}}, Start Time: {{item.startTime.split('T')[1] }}
            </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Maintenance
      </ion-list-header>
      <button ion-item *ngFor="let item of maint_items" (click)="view(item,'Maintenance')">
        <ion-icon [name]="'arrow-forward'" item-end></ion-icon>
      Pitch Number:{{item.pitch_number}},   Start Time: {{item.startTime.split('T')[1] }}
        </button>
    </ion-list>
  </div>

</ion-content>
